<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasoops.dasserver.plugin.webManager.mapper.ConfigWebMapper">

    <resultMap id="BaseResultMap" type="com.dasoops.dasserver.cq.entity.dbo.ConfigDo">
        <id property="rowId" column="row_id" jdbcType="BIGINT"/>
        <result property="keyword" column="keyword" jdbcType="VARCHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="canEdit" column="can_edit" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="VARCHAR"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        row_id
        ,keyword,`value`,description,can_edit
        is_delete,create_user,create_time,
        update_user,update_time
    </sql>
    <select id="selectMaxId" resultType="java.lang.Long">
        SELECT MAX(ID)
        FROM `tb_core_config`;
    </select>
</mapper>
