<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasoops.dasserver.plugin.webmanager.mapper.PluginWebMapper">

    <resultMap id="BaseResultMap" type="com.dasoops.dasserver.cq.entity.dbo.PluginDo">
        <id property="rowId" column="row_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="classPath" column="class_path" jdbcType="VARCHAR"/>
        <result property="order" column="order" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="TINYINT"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="enable" column="enable" jdbcType="TINYINT"/>
        <result property="isDelete" column="is_delete" jdbcType="VARCHAR"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        row_id,
        `name`,class_path,`order`,
        `level`,description,
        enable,is_delete,create_user,
        create_time,update_user,update_time
    </sql>
    <select id="selectMaxId" resultType="java.lang.Long">
        SELECT MAX(`row_id`)
        FROM `tb_core_plugin`;
    </select>


</mapper>
