<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasoops.dasserver.plugin.loaj.mapper.ReplyMapper">

    <resultMap id="BaseResultMap" type="com.dasoops.dasserver.plugin.loaj.entity.dbo.ReplyDo">
        <id property="rowId" column="row_id" jdbcType="BIGINT"/>
        <result property="keyword" column="keyword" jdbcType="VARCHAR"/>
        <result property="reply" column="reply" jdbcType="VARCHAR"/>
        <result property="enable" column="`enable`" jdbcType="TINYINT"/>
        <result property="ignoreCase" column="ignore_case" jdbcType="TINYINT"/>
        <result property="ignoreDbc" column="ignore_dbc" jdbcType="TINYINT"/>
        <result property="matchType" column="matchType" jdbcType="TINYINT"/>
        <result property="isDelete" column="is_delete" jdbcType="VARCHAR"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        row_id
        ,keyword,reply,`enable`,ignore_case,ignore_dbc,matchType,isDelete,createUser,createTime,updateUser,updateTime
    </sql>
    <select id="selectMaxId" resultType="java.lang.Long">
        SELECT MAX(`row_id`)
        FROM `tb_plugin_loaj_reply`;
    </select>
</mapper>
