<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasoops.dasq.core.cq.mapper.PassListMapper">

    <resultMap id="BaseResultMap" type="com.dasoops.dasq.core.cq.entity.po.PassObject">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="type" column="TYPE" jdbcType="TINYINT"/>
        <result property="passKeyword" column="PASS_KEYWORD" jdbcType="BIGINT"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="VARCHAR"/>
        <result property="createUser" column="CREATE_USER" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="UPDATE_USER" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,TYPE,PASS_KEYWORD,
        IS_DELETE,CREATE_USER,CREATE_TIME,
        UPDATE_USER,UPDATE_TIME
    </sql>
    <select id="selectPassKeywordGetMethodInfoMap"
            resultType="com.dasoops.dasq.core.cq.entity.bo.PassKeywordGetMethodInfoIdBo">
        SELECT P.PASS_KEYWORD AS keyword,
               F.ID           AS id
        FROM `TB_CQ_PASS_LIST` P
                 INNER JOIN TB_CQ_METHOD_INFO F ON P.METHOD_INFO_ID = F.ID
            AND P.TYPE = 3
            AND P.IS_DELETE = 0
            AND F.IS_DELETE = 0
    </select>
    <select id="selectMethodInfoAndTypeByPassKeyword"
            resultType="com.dasoops.dasq.core.cq.entity.bo.MethodTypeAndInfoBo">
        SELECT F.DESCRIPTION as description,
               T.DESCRIPTION as typeDescription,
               T.KEYWORD     as typeKeyword,
               F.PARAMETERS  as param
        FROM `TB_CQ_PASS_LIST` P
                 INNER JOIN TB_CQ_METHOD_INFO F ON P.METHOD_INFO_ID = F.id
                 INNER JOIN TB_CQ_METHOD_TYPE T ON F.TYPE_ID = T.ID
        WHERE P.TYPE = 3
          AND PASS_KEYWORD = #{KEYWORD}
          AND P.IS_DELETE = 0
          AND F.IS_DELETE = 0
          AND T.IS_DELETE = 0
    </select>
</mapper>
